<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>path  for property to buy</description>
        <param-name>buyPropertyImagePath</param-name>
        <param-value>images/buy/bangalore/</param-value>
    </context-param>
    <context-param>
        <param-name>rentPropertyImagePath</param-name>
        <param-value>images/rent/bangalore/</param-value>
    </context-param>
    <context-param>
        <param-name>resalePropertyImagePath</param-name>
        <param-value>images/resale/</param-value>
    </context-param>
    <context-param>
        <param-name>hostelPropertyImagePath</param-name>
        <param-value>images/hostel/bangalore/</param-value>
    </context-param>
    <context-param>
        <param-name>welcomePageImagePath</param-name>
        <param-value>images/buy/</param-value>
    </context-param>
    <context-param>
        <param-name>buyPropertyImagePath2</param-name>
        <param-value>images/buy/mumbai/</param-value>
    </context-param>
    <context-param>
        <param-name>buyPropertyImagePath3</param-name>
        <param-value>images/buy/dheli/</param-value>
    </context-param>
    <context-param>
        <param-name>buyPropertyImagePath4</param-name>
        <param-value>images/buy/mysore/</param-value>
    </context-param>
    <context-param>
        <param-name>buyPropertyImagePath5</param-name>
        <param-value>images/buy/chennai/</param-value>
    </context-param>
    <context-param>
        <param-name>buyPropertyImagePath6</param-name>
        <param-value>images/buy/kolkota/</param-value>
    </context-param>
    <context-param>
        <param-name>rentPropertyImagePath2</param-name>
        <param-value>images/rent/mumbai/</param-value>
    </context-param>
    <context-param>
        <param-name>rentPropertyImagePath3</param-name>
        <param-value>images/rent/dheli/</param-value>
    </context-param>
    <context-param>
        <param-name>rentPropertyImagePath4</param-name>
        <param-value>images/rent/mysore/</param-value>
    </context-param>
    <context-param>
        <param-name>rentPropertyImagePath5</param-name>
        <param-value>images/rent/chennai/</param-value>
    </context-param>
    <context-param>
        <param-name>rentPropertyImagePath6</param-name>
        <param-value>images/rent/kolkota/</param-value>
    </context-param>
    <context-param>
        <param-name>hostelPropertyImagePath2</param-name>
        <param-value>images/hostel/mumbai/</param-value>
    </context-param>
    <context-param>
        <param-name>hostelPropertyImagePath3</param-name>
        <param-value>images/hostel/dheli/</param-value>
    </context-param>
    <context-param>
        <param-name>hostelPropertyImagePath4</param-name>
        <param-value>images/hostel/mysore/</param-value>
    </context-param>
    <context-param>
        <param-name>hostelPropertyImagePath5</param-name>
        <param-value>images/hostel/chennai/</param-value>
    </context-param>
    <context-param>
        <param-name>hostelPropertyImagePath6</param-name>
        <param-value>images/hostel/kolkota/</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>Header and Footer for the client side application</description>
            <display-name>CommonHeadFoot</display-name>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/faqs.jsp</url-pattern>
            <url-pattern>/policy.jsp</url-pattern>
            <url-pattern>/mobile.jsp</url-pattern>
            <url-pattern>/about.jsp</url-pattern>
            <url-pattern>/contact.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>Common Header and Footer for the servlet generated pages</description>
            <display-name>CommonHeaderFooter</display-name>
            <url-pattern>/register.jsp</url-pattern>
            <url-pattern>/login.jsp</url-pattern>
            <url-pattern>/WEB-INF/*</url-pattern>
            <include-prelude>/WEB-INF/jspf1/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf1/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <resource-ref>
        <description>reference for ds of the project</description>
        <res-ref-name>jdbc/smartrealestate</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
